.category-filter {
    background-color: white;
    border-bottom: 1px solid var(--secondary-color);
    position: sticky;
    top: 0;
    display: flex;
    width: 80%;
    margin: auto;
    padding: 40px 0 ;
    justify-content: space-around;
}

