.search{
    width: 50%;
    text-align: center;

}

.search form {
    width: 100%;
    margin: auto;
    display: flex;
}

.search input {
    width: 70%;
    font-size: 1.5rem;
    background-color: rgb(255, 217, 168);
}

.search button {
    font-size: 2rem;
    border: none;
    background-color: white;
}

.search button:hover {
    color: var(--primary-color);
}

.search input:focus {
    background-color: white;
}

.search button:active{
    color: burlywood;
    border: 1px solid burlywood;
}