:root{
  --primary-color:  #F34325;
  --secondary-color: burlywood;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}



input {
  border-left: none;
  border-right: none;
  border-top: none;
}

input:focus{
  outline: none;
  border-bottom-color:var(--primary-color) ;
}